.contact {
  background-color: rgba(177, 77, 11, .3);
  width: 100%;
  min-height: 500px;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .contact .frame {
    width: calc(100% / 4);
  }
  
  /* .contact .frame:last-of-type {
    width: 100%;
  } */
}