.portfolio {
  background-color: rgba(11, 77, 177, .3);
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.pane {
  margin: 0 auto;
  max-width: 1200px;
}

.window {
  background-color: rgba(0, 0, 0, .7);
}

.window .port-element {
  transition: 100ms ease all;
  filter: drop-shadow(10px 10px 5px);
}

.window:hover .port-element {
  animation: shaw 3s infinite;
  transform: rotate(20deg) scale(2.5);
  transition: 100ms ease all;
}

@keyframes shaw {
  0% {
    transform: rotate(20deg) scale(2.5);
    filter: drop-shadow(10px 10px 25px)
  }
  100% {
    transform: rotate(-20deg) scale(1);
    filter: drop-shadow(10px 10px 5px)
  }
}

.window img {
  display: block;
}

.port-element {
  max-width: 100%;
}

@media screen and (min-width: 600px) {
  .pane {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .window {
    width: 50%;
  } 
}

@media screen and (min-width: 1000px) {
  .window {
    width: calc(100% / 3);
  } 
}

@media screen and (min-width: 1200px) {
  .window {
    width: calc(100% / 4);
  } 
}