.portfolio {
  background-color: rgba(11, 77, 177, .3);
  width: 100%;
  height: 500px;
}

.pane {
  display: flex;
}

.window {
  background-color: rgba(0, 0, 0, 0);
  width: 25%;
  height: 250px;
  padding: 10px;
  margin: 5px;
}